
<h1>Nuevo <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to '<i class="icon-arrow-left icon-white"></i> Regresar'.html_safe, <%= index_helper %>_path, :class => 'btn btn-inverse' %>
