
<h1>Editar <%= singular_table_name %></h1>
<%%= render 'form' %>

<%%= link_to '<i class="icon-eye-open icon-white"></i> Mostrar'.html_safe, @<%= singular_table_name %>, :class => "btn" %> |
<%%= link_to '<i class="icon-arrow-left icon-white"></i> Regresar'.html_safe, <%= index_helper %>_path, :class => "btn btn-inverse" %>
